In [2]:
import pandas as pd
import numpy as np

In [30]:
pd. __version__

'1.4.4'

In [31]:
np. __version__

'1.21.5'

In [32]:
import streamlit as st

In [33]:
st. __version__

'1.17.0'

In [3]:
df = pd.read_csv("E:/Userfiles/Download/Churn.csv")
df

,Unnamed: 0,state,area.code,account.length,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,...,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,1,KS,area_code_415,128,yes,25,no,10.0,3,2.70,...,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,2,OH,area_code_415,107,yes,26,no,13.7,3,3.70,...,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,3,NJ,area_code_415,137,no,0,no,12.2,5,3.29,...,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,4,OH,area_code_408,84,no,0,yes,6.6,7,1.78,...,71,50.9,61.9,88,5.26,196.9,89,8.86,2,no
4,5,OK,area_code_415,75,no,0,yes,10.1,3,2.73,...,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,HI,area_code_408,50,yes,40,no,9.9,5,2.67,...,127,40.07,223,126,18.96,297.5,116,13.39,2,no
4996,4997,WV,area_code_415,152,no,0,no,14.7,2,3.97,...,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,4998,DC,area_code_415,61,no,0,no,13.6,4,3.67,...,89,23.9,172.8,128,14.69,212.4,97,9.56,1,no
4998,4999,DC,area_code_510,109,no,0,no,8.5,6,2.30,...,67,32.1,171.7,92,14.59,224.4,89,10.10,0,no
4999,5000,VT,area_code_415,86,yes,34,no,9.3,16,2.51,...,102,22,267.1,104,22.70,154.8,100,6.97,0,no

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5000 non-null   int64
 1   state           5000 non-null   object
 2   area.code       5000 non-null   object
 3   account.length  5000 non-null   int64
 4   voice.plan      5000 non-null   object
 5   voice.messages  5000 non-null   int64
 6   intl.plan       5000 non-null   object
 7   intl.mins       5000 non-null   float64
 8   intl.calls      5000 non-null   int64
 9   intl.charge     5000 non-null   float64
 10  day.mins        5000 non-null   float64
 11  day.calls       5000 non-null   int64
 12  day.charge      5000 non-null   object
 13  eve.mins        5000 non-null   object
 14  eve.calls       5000 non-null   int64
 15  eve.charge      5000 non-null   float64
 16  night.mins      5000 non-null   float64
 17  night.calls     5000 non-null   int64
 18  night.charge    5000 non-null   float64
 19  customer.calls  5000 non-null   int64
 20  churn           5000 non-null   object
dtypes: float64(6), int64(8), object(7)
memory usage: 820.4+ KB

In [5]:
df1 = df.copy()
df1["day.charge"] = df1["day.charge"].astype("float64")
df1["eve.mins"]= df1["eve.mins"].astype("float64")

In [6]:
df1.isnull().sum()

Unnamed: 0         0
state              0
area.code          0
account.length     0
voice.plan         0
voice.messages     0
intl.plan          0
intl.mins          0
intl.calls         0
intl.charge        0
day.mins           0
day.calls          0
day.charge         7
eve.mins          24
eve.calls          0
eve.charge         0
night.mins         0
night.calls        0
night.charge       0
customer.calls     0
churn              0
dtype: int64

In [7]:
df1.dropna(inplace = True)

In [8]:
df1.drop(df1.columns[[0, 1, 2, 3]], axis=1, inplace=True)
df1

,voice.plan,voice.messages,intl.plan,intl.mins,intl.calls,intl.charge,day.mins,day.calls,day.charge,eve.mins,eve.calls,eve.charge,night.mins,night.calls,night.charge,customer.calls,churn
0,yes,25,no,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,yes,26,no,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,no,0,no,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,no,0,yes,6.6,7,1.78,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,2,no
4,no,0,yes,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,yes,40,no,9.9,5,2.67,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,2,no
4996,no,0,no,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,no,0,no,13.6,4,3.67,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,1,no
4998,no,0,no,8.5,6,2.30,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,0,no
4999,yes,34,no,9.3,16,2.51,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,0,no

In [9]:
df1.rename(columns= {'voice.plan' : 'voice_plan', 'voice.messages' : 'voice_messages', 'intl.plan':'intl_plan', 'intl.mins':'intl_mins', 'intl.calls':'intl_calls','intl.charge':'intl_charge', 'day.mins':'day_mins', 'day.calls': 'day_calls', 'day.charge':'day_charge', 'eve.mins':'eve_mins', 'eve.calls':'eve_calls', 'eve.charge':'eve_charge','night.mins':'night_mins', 'night.calls':'night_calls', 'night.charge': 'night_charge', 'customer.calls':'customer_calls'}, inplace = True)

In [10]:
df1

,voice_plan,voice_messages,intl_plan,intl_mins,intl_calls,intl_charge,day_mins,day_calls,day_charge,eve_mins,eve_calls,eve_charge,night_mins,night_calls,night_charge,customer_calls,churn
0,yes,25,no,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,no
1,yes,26,no,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,no
2,no,0,no,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,no
3,no,0,yes,6.6,7,1.78,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,2,no
4,no,0,yes,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,yes,40,no,9.9,5,2.67,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,2,no
4996,no,0,no,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,yes
4997,no,0,no,13.6,4,3.67,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,1,no
4998,no,0,no,8.5,6,2.30,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,0,no
4999,yes,34,no,9.3,16,2.51,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,0,no

In [11]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
df1['churn']=LE.fit_transform(df1['churn'])

In [12]:
df1=pd.get_dummies(df1,columns=['voice_plan','intl_plan'], drop_first=True)
df1

,voice_messages,intl_mins,intl_calls,intl_charge,day_mins,day_calls,day_charge,eve_mins,eve_calls,eve_charge,night_mins,night_calls,night_charge,customer_calls,churn,voice_plan_yes,intl_plan_yes
0,25,10.0,3,2.70,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,1,0,1,0
1,26,13.7,3,3.70,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,1,0,1,0
2,0,12.2,5,3.29,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,0,0,0,0
3,0,6.6,7,1.78,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,2,0,0,1
4,0,10.1,3,2.73,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,3,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,40,9.9,5,2.67,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,2,0,1,0
4996,0,14.7,2,3.97,184.2,90,31.31,256.8,73,21.83,213.6,113,9.61,3,1,0,0
4997,0,13.6,4,3.67,140.6,89,23.90,172.8,128,14.69,212.4,97,9.56,1,0,0,0
4998,0,8.5,6,2.30,188.8,67,32.10,171.7,92,14.59,224.4,89,10.10,0,0,0,0
4999,34,9.3,16,2.51,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,0,0,1,0

In [13]:
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [14]:
df_norm = norm_func(df1)

In [15]:
X = df_norm.drop(['churn'], axis=1)
y = df_norm['churn']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.3, random_state=0)

In [18]:
Xtrain.shape , Xtest.shape , ytrain.shape , ytest.shape

((3478, 16), (1491, 16), (3478,), (1491,))

In [19]:
Xtrain

,voice_messages,intl_mins,intl_calls,intl_charge,day_mins,day_calls,day_charge,eve_mins,eve_calls,eve_charge,night_mins,night_calls,night_charge,customer_calls,voice_plan_yes,intl_plan_yes
1392,0.000000,0.225,0.75,0.225926,0.767283,0.515152,0.767236,0.570800,0.505882,0.571013,0.542278,0.611429,0.542487,0.333333,0.0,0.0
3156,0.000000,0.520,0.05,0.520370,0.323755,0.587879,0.323795,0.528732,0.570588,0.528955,0.544051,0.508571,0.544176,0.333333,0.0,0.0
494,0.000000,0.410,0.20,0.409259,0.778378,0.563636,0.778280,0.315095,0.682353,0.315108,0.634430,0.685714,0.634778,0.111111,0.0,0.0
3046,0.000000,0.740,0.20,0.740741,0.053770,0.557576,0.053715,0.710476,0.476471,0.710450,0.277468,0.422857,0.277434,0.111111,0.0,0.0
4462,0.000000,0.405,0.35,0.405556,0.341110,0.654545,0.341031,0.661809,0.482353,0.661922,0.382532,0.708571,0.382667,0.333333,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4960,0.788462,0.490,0.30,0.490741,0.525747,0.460606,0.525770,0.441573,0.505882,0.441605,0.410127,0.748571,0.410242,0.222222,1.0,0.0
3291,0.423077,0.695,1.00,0.694444,0.489616,0.721212,0.489625,0.614792,0.782353,0.615011,0.379747,0.537143,0.379854,0.111111,1.0,1.0
1678,0.000000,0.445,0.40,0.444444,0.413940,0.703030,0.413989,0.627990,0.647059,0.627952,0.692152,0.520000,0.692178,0.111111,0.0,0.0
2634,0.000000,0.630,0.35,0.629630,0.350213,0.642424,0.350234,0.500412,0.600000,0.500485,0.619241,0.428571,0.619584,0.222222,0.0,0.0
2759,0.000000,0.630,0.45,0.629630,0.328876,0.781818,0.328815,0.461369,0.611765,0.461339,0.358987,0.708571,0.359032,0.111111,0.0,0.0

In [20]:
from imblearn.over_sampling import RandomOverSampler
OS=RandomOverSampler(sampling_strategy=0.90)
Xtrain_os,ytrain_os=OS.fit_resample(Xtrain,ytrain)

In [21]:
from collections import Counter
print("The number of classes before fit {}".format(Counter(ytrain)))
print("The number of classes after fit {}".format(Counter(ytrain_os)))

The number of classes before fit Counter({0.0: 2989, 1.0: 489})
The number of classes after fit Counter({0.0: 2989, 1.0: 2690})

### Random Forest

In [22]:
from sklearn.ensemble import RandomForestClassifier
Classifier = RandomForestClassifier()
Classifier.fit(Xtrain_os, ytrain_os)

RandomForestClassifier()

In [23]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
y_pred = Classifier.predict(Xtest)
print(confusion_matrix(ytest,y_pred))
print(accuracy_score(ytest,y_pred))
print(classification_report(ytest,y_pred))

[[1253   22]
 [  45  171]]
0.9550637156270959
              precision    recall  f1-score   support

         0.0       0.97      0.98      0.97      1275
         1.0       0.89      0.79      0.84       216

    accuracy                           0.96      1491
   macro avg       0.93      0.89      0.91      1491
weighted avg       0.95      0.96      0.95      1491

In [24]:
prediction_proba = Classifier.predict_proba(Xtest)
prediction_proba

array([[0.76, 0.24],
       [1.  , 0.  ],
       [1.  , 0.  ],
       ...,
       [0.95, 0.05],
       [0.95, 0.05],
       [0.99, 0.01]])

In [25]:
input_data = (95, 20 ,5, 4, 300, 40, 55, 250, 50, 28, 300, 71, 50, 5, 1, 0)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = Classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
    print('The person will not be churned')
else:
    print('The person will be churned')

[0.]
The person will not be churned

C:\Users\Priya\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

### Saving Trained Model

In [29]:
import pickle
pickle_out = open("classifier.pkl","wb")
loaded_model = pickle.dump(Classifier, pickle_out)
pickle_out.close()